.learn-more {
    font-size: 1.4rem;
    margin: 2rem 0;
    a {
        color: var(--dim-color);
        font-family: var(--main-font);
        &:hover {
            color: var(--light-color);
            transition: ease-in-out 0.2s;
        }
    }
}

.higlight {
    color: var(--light-color);
    filter: brightness(1.25);
    text-decoration: underline;
}

.subsection-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--light-color);
    font-size: 1.2rem;
    font-family: var(--main-font);
    font-weight: 100;
    padding: 20px 1rem;
    h1 {
        border-bottom: solid 2px rgba(255, 255, 255, 0.125);
        font-weight: bolder;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
    }
}

#welcome {
    h1 {
        border-bottom: solid 2px var(--dim-color);
        color: var(--dim-color);
        font-family: var(--secondary-font);
        font-size: 3rem;
        font-weight: 100;
        margin-bottom: 6rem;
        margin-top: 6rem;
        text-transform: uppercase;
    }
}

.intro-photo {
    display: flex;
    gap: 5rem;
    justify-content: center;
    img {
        border-radius: 30%;
        border: 3px solid var(--dim-color);
        max-width: 50vw;
        width: auto;
        height: auto;
        object-fit: cover;
        min-width: 150px;
        margin-bottom: 60px;
    }
    .intro-preamble{
        width: auto;
        max-width: 50vw;
        min-width: 150px;
        p {
            color: var(--light-color);
            font-family: var(--main-font);
            font-size: 3rem;
        }
    }

}

#intro {
    min-height: 80vh;
    .intro-content{
        background: linear-gradient(-10deg, var(--very-dark-color) 0%, var(--dark-color) 90%, var(--very-dark-color) 100%), url("../assets/img/bg.png");
        background-position: left;
        border-radius: 10pt;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
        color: var(--light-color);
        font-family: var(--main-font);
        font-size: 1.2rem;
        padding: 1rem;
        text-align: justify;
        .intro-title {
            color: var(--dim-color);
            font-family: var(--secondary-font);
            font-size: 2.5rem;
            text-transform: uppercase;
        }
        p {
            font-size: 1.5rem;
        }
        .intro-subtitle{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-transform: uppercase;
            span {
                color: var(--dim-color);
                padding: 10px 0;
                font-size: 3rem;
                font-weight: bold;
            }
        }
        .intro-animated {
            display: flex;
            justify-content: center;
            gap: 3rem;
            margin-top: 2rem;
            flex-wrap: wrap;
            img {
                border-radius: 50%;
                max-width: 300px;
                width: auto;
                height: auto;
                object-fit: cover;
                min-width: 150px;
            }
            
            .middle-img {
                max-width: 400px;
            }
        }
    }
}

#presentation {
    .about-me-section {
        color: var(--light-color);
        font-size: 1.2rem;
        font-family: var(--main-font);
        padding: 20px 1rem;
        .about-me-content {
            p {
                font-size: 20pt;
                text-align: center;
            }
        }        
    }
    .skills-section {
        .skills-description {
            p {
                font-size: 1.5rem;
                text-align: justify;
            }
        }
        .skills-grid {
            display: flex;
            gap: 2rem;
            justify-content: center;
            margin: 4rem 0;
            flex-wrap: nowrap; /* Prevent wrapping on wider screens */
            .skills {
                align-items: flex-start;
                background: linear-gradient(-10deg, var(--very-dark-color) 0%, var(--dark-color) 70%, var(--very-dark-color) 100%);
                border-radius: 10pt;
                box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
                color: var(--light-color);
                display: flex;
                flex-direction: column;
                font-family: var(--main-font);
                font-size: 1.1rem;
                padding: 2rem;
                width: 32vw; 
                .skills-preamble {
                    font-variant: small-caps;
                    font-weight: bold;
                    font-size: 2rem;
                    margin-bottom: 1.5rem;
                    text-align: center;
                    width: 100%;
                    border-bottom: solid 2px rgba(255, 255, 255, 0.125);
                }
                .skill {
                    background-color: rgba(255, 255, 255, 0.07);
                    border-left: 4px solid var(--light-color);
                    border-radius: 4px;
                    font-size: 1.3rem;
                    margin: 0.5rem 0;
                    padding: 0.4rem 0.7rem;
                    width: 100%;
                    box-sizing: border-box;
                }
            }
        }
    }
    
    .stacks-section {
        .stacks-description {
            p {
                font-size: 1.5rem;
            }
        }
        .stacks-grid {
            background: linear-gradient(-10deg, var(--very-dark-color) 0%, var(--dark-color) 60%, var(--very-dark-color) 100%);
            border-radius: 3rem;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
            display: grid;
            grid-template-columns: repeat(4 , 1fr);
            gap: 1.5rem;
            justify-content: center;
            padding: 2rem 0;
            place-items: center;
            
            .stacks-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                overflow: visible;
                
                .stacks-icon {
                    --icon-size: 200px;
                    width: var(--icon-size);
                    height: var(--icon-size);
                    transition: all 0.3s ease-in-out;
                
                    &:hover {
                        transform: scale(1.1);
                    }
                }
                    
                .stacks-name {
                    margin-top: 0.5rem;
                    font-size: 2rem;
                    font-weight: 500;
                }
            }
        }
    }
}

#projects {
    .project-grid {
        display: flex;
        flex-direction: column;
        gap: 2rem; /* Space between items */
        padding: 2rem 0;
        .project-item {
            align-items: flex-start;
            background: linear-gradient(-10deg, var(--very-dark-color) 0%, var(--dark-color) 60%, var(--very-dark-color) 100%);
            border-radius: 1rem;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
            color: var(--light-color);
            display: flex;
            flex-direction: row;
            font-family: var(--main-font);
            gap: 1.5rem;
            max-width: auto;
            margin: auto;
            padding: 2rem;
        }

        .project-item {
            .project-presentation {
                flex: 1;
                max-width: 30%;
                text-align: center;
                .project-image {
                    img {
                        width: 100%;
                        height: auto;
                        border-radius: 0.5rem;
                    }
                }
            }            
            .project-desc {
                flex: 2;
                display: flex;
                flex-direction: column;
                font-size: 1.5rem;
                gap: 1rem;
                text-align: justify;
                .project-title {
                    border-bottom: solid 2px rgba(255, 255, 255, 0.125);
                    color: var(--dim-color);
                    font-size: 2.5rem;
                    font-weight: bold;
                    font-family: var(--main-font);
                    text-transform: uppercase;
                    text-align: center;
                }

            }
                            
            .learn-more {
                margin-top: auto;
            }
        }
    }
}

    /* Responsive fallback for small screens */
    @media (max-width: 768px) {
        .intro-photo {
                flex-direction: column;
                gap: 2rem;
                align-items: center;
            img {
                max-width: 80vw;
            }
            .intro-preamble {
                max-width: 90vw;
                p {
                    font-size: 1.8rem;
                    text-align: center;
                }
            }
        }
        #intro .intro-content {
            padding: 1rem;
            font-size: 1rem;
            .intro-title {
            font-size: 1.6rem;
            text-align: center;
            }
            p {
                font-size: 1.2rem;
                width: 80vw;
                margin-left: 15vw;
            }
            .intro-subtitle span {
            font-size: 2rem;
            }
            .intro-animated {
            gap: 1rem;
            img, .middle-img{
                max-width: 50vw;
            }
            }
        }

        #presentation .skills-section .skills-grid {
            flex-direction: column;
            align-items: center;
            .skills {
            width: 90vw;
            }
            .skills-preamble {
                max-width: 90vw;
                p {
                    font-size: 1.8rem;
                    text-align: center;
                }
            }
        }

        #presentation .stacks-section .stacks-grid {
            grid-template-columns: repeat(2, 1fr);
        }

        #projects .project-grid .project-item {
            flex-direction: column;
            .project-presentation {
            max-width: 100%;
            }
            .project-desc {
            font-size: 1.2rem;
            }
        }

        .subsection-header {
            font-size: 1rem;
            h1 {
            font-size: 1.5rem;
            }
        }

        .learn-more {
            font-size: 1rem;
        }
    }
    
    /* Ensure the last row is centered when there are fewer than 4 items */
    @media (max-width: 1024px) {
        .intro-photo {
            gap: 3rem;
        }

        #intro .intro-content .intro-title {
            font-size: 2rem;
        }

        #presentation .stacks-section .stacks-grid {
            grid-template-columns: repeat(3, 1fr);
        }

        #projects .project-grid .project-item {
            gap: 1rem;
        }

        .learn-more {
            font-size: 1.2rem;
        }
    }