<div class="full-portofolio-container">
    <div id="intro" class="introduction-section">
        <div class="introduction-content"></div>
    </div>
    <div id="presentation" class="presentation-section">
        <div class="about-me-section">
            <div class="about-me-header">
                <h1>About me</h1>
            </div>
            <div class="about-me-content">
                <p class="first-paragraph">Ever since I returned to Spain, I realized I wanted to help people without neglecting my passion for software and programming. Fortunately there was a degree that fitted perfectly:<br><span>Health Engineering</span></p>
                <img src="" alt="">
                <p>With a specialization in Bioinformatics, it combines biological and health-related subjects with software and data anlysis disciplines to produce digital solutions in any context. I’ve learned how to apply my knowledge in practical cases. With a knack for full-stack development and an interest in AI and Cybersecurity, I’m looking forward to applying everything I’m learning to real-world problems.</p>
            </div>
            <div class="learn-more">
                <a 
                target="_blank"
                href="https://www.uma.es/etsi-informatica/info/72506/grado-ing-de-la-salud-guia-docente/?set_language=en">
                Learn more about the Health Engineering Degree!</a>
            </div>
        </div>
        <div class="skills-section">
            <div class="skills-header">
                <h1>Skills</h1>
            </div>
        </div>
        <div class="stacks-section">
            <div class="stacks-header">
                <h1>Stacks and Technologies</h1>
            </div>
            <div class="stacks-grid">
                @for (stack of stacks; track $index) {
                    <div class="stacks-item">
                        <img class="stacks-icon" src="{{ stack.icon }}" alt="{{ stack.name}}">
                    </div>
                    <span class="stacks-name">{{ stack.name }}</span>
                }
            </div>

        </div>
    </div>

    <div id="experience" class="experience-section">

    </div>

    <div id="projects" class="project-section">
        <div class="preamble-section">

        </div>
        <div class="project-list-section">

        </div>
    </div>

    <div id="my-life" class="my-life-section">
        <div class="preamble-section">

        </div>
        <div class="volunteer-experience">

        </div>
    </div>

    <div id="contact" class="contact-section">

    </div>

    <footer>
        lol
    </footer>
</div>