<div class="full-portofolio-container">
    <div id="intro" class="introduction-section">
        <div id="welcome">
            <h1>Hi! My name is Miguel Padilla</h1>
        </div>
        <div class="introduction-content">
            <div class="intro-title">
            </div>    
            <p>
                During a couple of years away from Spain, I determined <span class="higlight">I wanted to help other people without neglecting my passion for software and programming</span>. Fortunately, a new emerging career fitted perfectly:</p>
            <div class="intro-subtitle">
                <span>Health Engineering</span>
            </div>
            <div class="intro-animated">
                <img src="/assets/gif/dna.gif" alt="">
                <img class="middle-img" src="/assets/gif/health.gif" alt="">
                <img src="/assets/gif/phys.gif" alt="">
            </div>
            <p>
                With a specialization in Bioinformatics, <span class="higlight">combines biological and health-related subjects with software and data analysis disciplines to produce digital solutions in any scientific context</span>. I’ve learned how to put my knowledge to use in practical cases. With a knack for full-stack development and an interest in Machine Learning, I’m looking forward to applying everything I’m learning to real-world problems.
            </p>
            <div class="learn-more">
                <a 
                target="_blank"
                href="https://www.uma.es/etsi-informatica/info/72506/grado-ing-de-la-salud-guia-docente/?set_language=en">
                Learn more about the Health Engineering Degree!</a>
            </div>    
        </div>
    </div>
    <div id="presentation" class="presentation-section">
        <div class="about-me-section">
            <div class="subsection-header">
                <h1>About me</h1>
            </div>
            <div class="about-me-content">
        </div>
        <div class="skills-section">
            <div class="skills-header">
                <h1>Skills</h1>
            </div>
        </div>
        <div class="stacks-section">
            <div class="stacks-header">
                <h1>Stacks and Technologies</h1>
            </div>
            <div class="stacks-description">
                <p>
                    I started delving in web development during my last years of university, which provided me with a <span class="higlight"> strong foundation in both front and back end</span>. I've also got experience designing <span class="higlight">statistical data analysis pipelines, including collecting, filtering and processing</span>, as well as training machine learning classification models.
                </p>
            </div>
            <div class="stacks-grid">
                @for (stack of stacks; track $index) {
                    <div class="stacks-item">
                        <a href="{{ stack.link }}" target="_blank">
                            <img class="stacks-icon" src="{{ stack.icon }}" alt="{{ stack.name}}">
                        </a>
                        <span class="stacks-name">{{ stack.name }}</span>
                    </div>
                }
            </div>

        </div>
    </div>

    <div id="experience" class="experience-section">

    </div>

    <div id="projects" class="project-section">
        <div class="subsection-header">
            <h1>Projects</h1>
        </div>
    <div class="project-list-section">
        <div class="project-grid" >
            @for (project of personalProjects; track $index) {
                <div class="project-item">
                    <div class="project-presentation">
                        <div class="project-image">
                            <img class="stacks-icon" src="{{ project.img }}" alt="{{ project.name}}">
                        </div>
                    </div>
                    <div class="project-desc">
                        <div class="project-title">
                            <span class="project-name">{{ project.name }}</span>
                        </div>
                        <p>
                            {{ project.desc }}
                        </p>
                        <div class="learn-more">
                            <a href="{{ project.link }}" target="_blank">
                                Learn more about {{ project.name }}
                            </a>
                        </div>
                        
                    </div>
                </div>
            }
        </div>

        </div>
    </div>

    <div id="my-life" class="my-life-section">
        <div class="subsection-header">
            <h1>My life</h1>
        </div>
        <div class="volunteer-experience">

        </div>
    </div>

    <div id="contact" class="contact-section">

    </div>

    <footer>
        lol
    </footer>
</div>